html, body{
  height: 100%;
}

body {
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.container {
  min-height: 100%;
  width: 1500px;
  margin: 0 auto;
}

.top-nav {
  display: inline-block;
  margin-right: 20px;
  font-size: 23px;
}

li {
  /* color: rgb(0, 102, 255); */
  /* cursor: pointer; */
}

a {
  color: rgb(255, 255, 255);
  font-size: 21px;
  text-decoration: none;
}

.title-full-product-desc, .title-product-features, .title-product-desc {
  font-size: 18px;
  font-weight: 400;
  background-color: #707070;
  color: #000000;
}

.product-desc {
  color: #707070;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}

.full-product-desc {
  color: #484343;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
}

.product-list {
  display: flex;
}

.product-item {
  min-height: 35px;
  width: 250px;
  border: 8px solid white;
  margin-right: 10px;
  position: relative;
}

.product-item::before {
  position: absolute;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top: 20px solid #e24602;
  border-right: 20px solid #e24602;
  content: '';
  font-size: 10px;
  left: 218px;
  top: -8px;
}

.product-item::after {
  position: absolute;
  width: 0;
  height: 0;
  /* border: 20px solid transparent;
  border-top: 20px solid #e24602;
  border-right: 20px solid #e24602; */
  content: 'new';
  font-size: 10px;
  color: #ffffff;
  left: 235px;
  top: -3px;
}

.product-item img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.product-item span {
  color: black;
  margin-top: 20px;
  display: block;
  text-align: center;

  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

 .features-list {
  list-style-image: url(img/wheel.png);
 }

 .item-img {
   border: 1px rgb(0, 132, 255) solid;
 }

 .form-input {
   width: 200px;
   height: 30px;
   color: rgb(35, 136, 194);
   font-size: 14px;
   font-style: italic;
   border: solid 1px rgb(194, 194, 194);
 }

 textarea {
  border: solid 1px rgb(194, 194, 194);
  text-transform: capitalize;
 }

 .top-nav {
  display: block;
  float: right;
 }

 .top-nav ul li {
  display: inline;
 }

 .top-nav__link:hover {
   color: red;
 }

 .gyro-logo {
  float: left;
  width: 100px;
  padding-left: 20px;
 }

 .email-input:focus {
  color: rgb(221, 47, 198);
  background-color: rgb(157, 216, 240);
 }

 input {
   text-transform: capitalize;
 }

 table {
   width: 75%;
   margin: 0 auto;
   border-collapse: collapse;
   margin-bottom: 20px
 }

 table, td, th {
   border: 1px solid black;
 }

 td {
   height: 35px;
   text-align: center;
   vertical-align: middle;
 }

 tr:nth-child(1) {
  height: 45px;
 }

 .catalog-section p:first-letter {
  color: chocolate;
  font-size: 20px;
 }

.footer__copiright {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 10px;

  font-family: Roboto;
  color:  #dad9d9;
  font-size: 12px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 21.6px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.footer {
  margin-top: -161px;
  height: 161px;
  background-color: #373737;
  color: #dad9d9;
  clear: both;
  width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

.product-desc-block {
  float: right;
  width: 60%;
}

.btn:hover {
  background-color: red;
}

.btn:active {
  background-color:blue;
}

.map-cont {
  width: 100%;
  height: 374px;
}

.sidebar-menu {
  background-color:  #26d2fc;

}

.menu-item__link {
  display: block;
  color: #000000;
  padding-left: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.menu-item__link:hover {
  display: block;
  color:  #ffffff;
  background-color:  #333333;
}

.menu-item__link--active {
  display: block;
  color:  #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:  #333333;
}

.sidebar {
  width: 18%;
  margin-right: 2%;
}

.sidebar-menu__item {
  list-style-type: none;
}

.sidebar-menu__item:hover {
  color: #ffffff;
}

.sidebar-menu {
  width: 270px;
  padding-left: 0;
  margin-right: 40px;
}

.wrapper {
  /* display: flex; */
  width: 78%;
  margin: 0 auto;
  /* justify-content: space-around; */
}

.footer__social-item {
  display: inline-block;
}

.footer__social-list {
  display: block;
  float: right;
}

.header {
  background-color:  #abeafa;
}

.header__cover {
  margin: 0 auto;
  width: 1170px;
  display: block;
  clear: both;
  height: 700px;
  background-image: url(img/bg.png);
  background-repeat: no-repeat;
  background-position-y: 0;
}

.page-main {
  min-width: 786px;
}

.page-main__social-block {
  width: 100%;
  height: 150px;
  display: flex;
  margin: 0 auto;
}

.social-block__item {
  width: 100%;
  height: 150px;
}

.social-block__item:hover {
  opacity: 0.8;
}

.social-block__item:active {
  opacity: 1;
}

.social-block__item--f{
  background-color:  #3b5997;
  background-image: url(img/f_icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-block__item--tw{
  background-color:  #3fccfd;
  background-image: url(img/tw_icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-block__item--pin{
  background-color:  #cb2027;
  background-image: url(img/pin_icon.png);
  background-repeat: no-repeat;
  background-position: 50%;
}

.social-block__link {
  width: 33.33%;
}

.bread-crumbs__item {
  display: inline;
}

.bread-crumbs__link {
  color: #989898;
}

.footer-menu__block{
  display: inline-block;
}

.footer-bottom-block {
  padding-top: 75px;
  font-size: 10px;
  width: 1170px;
  margin: 0 auto;
  background-color:#373737;
}

.footer__top-block {
  background-color: #333333;
  width: 100%;
  height: 50px;
}

.footer-menu__item--title {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.footer-menu__item a{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}

.footer-menu__item p {
  width: 180px;
  color: #ffffff;
}

.footer-bottom-block ul {
  float: left;
  list-style: none;
  margin-right: 33px;
}

.bank-cards__item {
  display: inline-block;
  width: 36px;
  height: 22px;
  background-image: url(img/cards-sprite.png);
  margin-right: 10px;
}

.bank-cards__item:nth-child(2) {
  background-position-x: -36px;
}

.bank-cards__item:nth-child(3) {
  background-position-x: -72px;
}

.bank-cards__item:nth-child(4) {
  background-position-x: -108px;
}

.bank-cards__item:nth-child(5) {
  background-position-x: -144px;
}

.bank-cards__item:nth-child(6) {
  background-position-x: -181px;
}

.bank-cards__block {
  margin-top: 20px;
  padding-left: 0;
}

.clearfix {
  clear: both;
  display: table;
  content: "";
}

.input-email {
  background-color: #fff51f;
  width: 180px;
  height: 30px;
  border: none;

  font-family: Roboto;
  color:  #333333;
  font-size: 12px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 21px;/* Приближение из-за подстановки шрифтов */
  text-align: left;

  padding-left: 21px;
  text-transform: uppercase;
}

.email-btn {
  background-color:  #000000;
  color: #fff;
  width: 71px;
  height: 30px;
  border: none;
}

.instagramm-block {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 60px;
  background-color:  #eaeaea;
}

.instagramm-block__title {
  font-family: Roboto;
  color:  #333333;
  font-size: 22px;/* Приближение из-за подстановки шрифтов */
  font-weight: 900;
  font-style: italic;
  text-align: left;
}

.instagramm-block__hash {
  font-family: Roboto;
  color:  #333333;
  font-size: 22px;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  font-style: italic;
  text-align: left;
}

.instagramm__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.instagramm__item {
  display: inline;
  margin-right: 12px;
}

.instagramm__item:nth-child(6) {
  display: inline;
  margin-right: 0;
}

.main-block {
  display: flex;
  justify-content: space-between;
}

.brand-block {
  height: 165px;
  background-image: url(img/brands.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  background-color: #fff;
}

.triangle {
  width: 0;
  height: 0;
  position: absolute;
  left: 402px;
  border: 20px solid transparent;
  border-top: 20px solid #e24602;
  border-right: 20px solid #e24602;
}

.clr {
  height: 143px;
}

.instagramm__item:hover {
  opacity: 0.7;
}

.instagramm__item:active {
  opacity: 1;
}

.footer__social-link {
  background-image: url(img/social_sprite.png);
  width: 20px;
  height: 20px;
  display: block;
}

.footer__social-item:nth-child(1) .footer__social-link {
  background-image: url(img/social_sprite.png);
  width: 10px;
  height: 16px;
}

.footer__social-item:nth-child(2) .footer__social-link {
  background-position: -10px;
  width: 14px;
  height: 16px;
}

.footer__social-item:nth-child(3) .footer__social-link {
  background-position: -77px;
  width: 13px;
  height: 16px;
}

.footer__social-item:nth-child(4) .footer__social-link {
  background-position: -91px;
  width: 13px;
  height: 16px;
}

.footer__social-item:nth-child(5) .footer__social-link {
  background-position: -107px;
  width: 10px;
  height: 16px;
}

.footer__social-item:nth-child(6) .footer__social-link {
  background-position: -61px;
  width: 18px;
  height: 16px;
}

.footer__social-item:nth-child(7) .footer__social-link {
  background-position: -118px;
  width: 14px;
  height: 16px;
}

.header__social-list {
  display: block;
  float: right;
  margin-right: -32px;
  margin-top: 55px;
}

.header__social-item {
  display: inline-block;
}

.header__social-link {
  background-image: url(img/social_sprite.png);
  width: 20px;
  height: 20px;
  display: block;
}

.header__social-item:nth-child(1) .header__social-link {
  background-position: 0px;
  width: 10px;
  height: 16px;
}

.header__social-item:nth-child(2) .header__social-link {
  background-position: -10px;
  width: 14px;
  height: 16px;
}

.header__social-item:nth-child(3) .header__social-link {
  background-position: -25px;
  width: 16px;
  height: 16px;
}

.header__social-item:nth-child(4) .header__social-link {
  background-position: -77px;
  width: 14px;
  height: 16px;
}

.header__social-item:nth-child(5) .header__social-link {
  background-position: -193px;
  width: 16px;
  height: 16px;
}

.instagramm__title-block {
  height: 106px;
  display: table;
  margin: 0 auto;
}

.title-block__wrapper {
  display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.header__bottom {
  float: left;
  width: 100%;
  height: 35px;
  margin-top: 236px;
  position: relative;
}

.welcome-block {
  width: 245px;
  min-height: 218px;
  background-color:  #fff51f;
  padding-left: 25px;
  padding-top: 82px;
  float: left;
}

.welcome-block__title {
  font-family: Raleway;
  color:  #333333;
  font-size: 30px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 30px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.welcome-block__text {
  font-family: Raleway;
  color:  #333333;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 14px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.jp-funride-block {
  width: 313px;
  min-height: 169px;
  float: right;
  position: absolute;
  top: -100px;
  left: 760px;
}

.jp-funride-block__title {
  font-family: Raleway;
  color:  #fff51f;
  font-size: 48px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 34px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
}

.jp-funride-block__text {
  font-family: Raleway;
  color:  #fff51f;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.jp-funride-block__btn {
  background-color:  #fff51f;
  width: 124px;
  height: 49px;

  font-family: Raleway;
  color:  #000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 800;
  /* text-align: left; */
  text-transform: uppercase;
}

.now-is-open-block {
  background-color: #e0e0e0;
  width: 121px;
  height: 171px;
  padding-top: 129px;
  padding-left: 149px;
}

.now-is-open-block__text {
  font-family: Raleway;
  color:  #333333;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 800;
  line-height: 36px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  text-transform: uppercase;
  font-style: italic;
  width: 109px;
  display: block;
}

.footer-top-block__wrapper {
  width: 1170px;
  margin: 0 auto;
  height: 50px;
}
